@import './index.css';
@import './icon.css';
:root{
  --color-text:#666;
  --color-high-text:#ff5000;
  --color-tint:#ff5000;
  --color-background:#FFFFFF;
  --font-size:14px;
  --line-height:1.5;
}

*,
*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* 禁止用户选择文件或图片 */
  user-select: none;
  background:(var(--color-background));
  color: var(--color-text);
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a{
  color: var(--color-high-text);
  text-decoration: none;
}

li{
  list-style: none;
}
